<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/an-old-hope.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/assets/js/recommendations.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
        hljs.initLineNumbersOnLoad();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/fuse.js@6.0.4"></script>

    <!-- OG -->
    <meta id="og-title" property="og:title" content="" />
    <meta id="og-description" property="og:description" content="" />
    <meta id="og-image" property="og:image" content="/assets/images/logo.png" />
    <link rel="icon" type="image/png" href="/assets/images/square-logo.png" />

    <!-- Metas -->
    <meta id="meta-keywords" name="keywords" content="" />
    <meta id="meta-desc" name="description" content="" />
    <meta id="meta-robots" name="robots" content="" />
    <meta id="meta-google" name="googlebot" content="" />

    <!-- NavBar -->
    <div id="navbar"></div>
</head>

<body>
    <!-- Content -->
    <section class="section">
        <div class="container">
            <p id="title" class="title is-1"></p>
            <p id="description" class="subtitle is-3"></p>
            <img id="hero" src="#">
            <hr>
            <div id="content"></div>
            <hr>
            <p id="title" class="title is-3">Recommended Posts</p>
            <div id="recommendations" class="columns"></div>
        </div>
    </section>

    <!-- Footer -->
    <div id="footer"></div>
</body>

<style>
    .hljs-ln-n:before {
        opacity: 0.4;
    }

    .hljs-ln-n {
        margin-right: 15px;
    }
</style>
</html>